.AddToCard {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.images_seacation {
  width: 60%;
  background-color: #f6f6f6;
  padding: 30px 0px;
}
.Images_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  height: 500px;

}
.Images_div img {
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}
.Video_show {
  margin: 20px 0px;
  border-radius: 13px;
  margin-top: 80px;
  margin-bottom: 150px;
  object-fit: cover;
}
.Product3 {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  object-fit: contain;
  background-color: #fff;
}
.cart_product {
  height: 80px;
  width: 80px;
}
.personalize_Text {
  display: flex;
  gap: 14px;
}
.Personalize_Text {
  display: flex;
  gap: 30px;
}
strike {
  text-decoration: #565959 line-through;
  color: #565959;
}
.personalize_SubText {
  padding: 3px 9px;
  background-color: #24426d;
  height: 20px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 !important;
}
.Single_double {
  display: flex;
  gap: 30px;
}
.personalize_Cover {
  display: flex;
  gap: 220px;
  margin-left: 262px;
}
.personalize_Cover_Box {
  border: 1px solid #c1c1c1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #24426d;
  font-weight: 700;
}
.personalize_Cover_Row {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;
}
.personalize_Cover_Row1_name {
  width: 250px;
  height: 20px;
}
.personalize_Cover_Row1_Color {
  width: 257px;
  height: 25px;
  margin-left: 5px;
}
.personalize_Cover_Row1_Charm {
  width: 257px;
  height: 25px;
}
.personalize_Cover_Button {
  width: 100%;
  height: 50px;
  background-color: #24170e;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 13px;
  cursor: pointer;
  border: none;
}
.Footer_img {

  margin: auto;
  margin-top: 50px;
}
.cart_product {
  background-color: #ffffff;
  border-radius: 13px;
  border: 1px solid;
  cursor: pointer;
}
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}
.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.button-4:focus {
  outline: 1px transparent;
}
.button-4:before {
  display: none;
}
.button-4:-webkit-details-marker {
  display: none;
}
.All_text {
  width: 40%;
  margin: 30px;
}
/* -------------320px ----------- */
/* @media screen and (max-width: 320px) {
  .Video_show {
    width: 280px;
    height: 280px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: cover;
  }
  .Product3 {
    width: 280px;
    height: 280px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 63px;
    object-fit: contain;
    background-color: #fff;
  }
  .Footer_img {
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .cart_product {
  }
  .Single_double {
    justify-content: center;
  }
  .personalize_Text {
    margin-left: 4px;
    text-align: center;
    gap: 7px;
  }
  .personalize_Cover {
    margin: 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
  }
  .personalize_Cover_Row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .personalize_Cover_Button {
    margin-top: 20px;
    width: 90%;
    cursor: pointer;
  }
  .Share {
    justify-content: center;
  }
} */
/* ------------ 480px ------------- */
/* ------------ 768px ------------- */
/* ------------ 1024px ------------- */
/* @media (min-width: 768px) and (max-width: 1024px) {
  .AddToCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0px;
  }
  .images_seacation {
    background-color: #F6F6F6;
    border-radius: 13px;
  }
  .Images_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .Video_show {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: cover;
  }
  .Product3 {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: contain;
    background-color: #fff;
  }
  .Footer_img {
  }
  .cart_product {
  }
  .Single_double {
    justify-content: center;
  }
  .personalize_Cover {
    margin-left: 150px;
    gap: 175px;
    display: flex;
    justify-content: center;
  }
  .personalize_Cover_Row {
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
  }
  .personalize_Cover_Button {
    margin-top: 20px;
    width: 94%;
    cursor: pointer;
  }
  .Share {
    justify-content: center;
  }
} */
/* ------------ 1024px ------------- */
/* @media (min-width: 1024px) and (max-width: 1200px) {
  .AddToCard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .images_seacation {
    background-color: #F6F6F6;
    border-radius: 13px;
    margin-left: 25px;
  }
  .Images_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Video_show {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: cover;
  }
  .Product3 {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: contain;
    background-color: #fff;
  }
  .Footer_img {
  }
  .cart_product {
  }
  .Single_double {
    justify-content: center;
  }
  .personalize_Cover {
    margin-left: 150px;
    gap: 175px;
    display: flex;
    justify-content: center;
  }
  .personalize_Cover_Row {
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
  }
  .personalize_Cover_Button {
    margin-top: 20px;
    width: 94%;
    cursor: pointer;
  }
  .Share {
    justify-content: center;
  }
} */
/* @media (min-width: 1200px) and (max-width: 1600px) {
  .AddToCard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .images_seacation {
    background-color: #F6F6F6;
    border-radius: 13px;
    width: 600px;
    margin-left: 25px;
  }
  .Images_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
  }
  .Video_show {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: cover;
  }
  .Product3 {
    width: 350px;
    height: 350px;
    border-radius: 13px;
    margin-top: 80px;
    margin-bottom: 150px;
    object-fit: contain;
    background-color: #fff;
  }
  .Footer_img {
  }
  .cart_product {
  }
  .Single_double {
    justify-content: center;
  }
  .personalize_Cover {
    margin-left: 150px;
    gap: 175px;
    display: flex;
    justify-content: center;
  }
  .personalize_Cover_Row {
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
  }
  .personalize_Cover_Button {
    margin-top: 20px;
    width: 94%;
    cursor: pointer;
  }
  .Share {
    justify-content: center;
  }
} */
@media screen and (max-width: 500px) {
 
  .personalize_Text {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .AddToCard {
    display: block;
    width: 100%;
  }
  .images_seacation {
    width: 100%;
  }
  .All_text {
    width: 80%;
    margin: auto;
  }
  .Images_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
