.gift-img {

  height: auto;
  border-radius: 35px;
}

.Banner_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.banner2-img {
  text-align: center;
}

.anner_2_text {
  margin-left: 10%;
}

.contact-banner {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
}

.gift-img {
  width: 100% !important;
}
.contact-details{
  width: 80%;
  text-align: start;
}
.contact-banner-part1 {
  display: flex;
  justify-content: center;
width: 60%;
  flex-direction: column;
  text-align: start;
}
.contact-banner-part2 {
  width: 40%;
}
.Banner2_Button-2{
  background-color: black;
  color: white;

  padding: 20px 40px; 
  border: none;
  border-radius: 10px;
}
.gift-img{
  width: 80%;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .Banner_2_text {
    margin-left: 20px;
  }

  .contact-banner {
    width: 100%;
  }
  .contact-details{
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .contact-banner {
    display: block;
  }

  .contact-banner-part1 {
    width: 80%;
    margin: auto;
  }

  .contact-banner-part2 {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* margin: 20px; */
    text-align: center;
  }

  .contact-banner {
    width: 100%;
  }
}