.ChangPassword {
  background-color: #b79a7c;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChangPassword_container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 13px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  width: 400px;
}

.changePassword_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
}
.ChangPassword_chackBox {
  margin-top: 10px;
}

.ChangPassword_button {
  background-color: #b79a7c;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  width: 100%;
  font-size: 16px;
}

.ChangPassword_button:hover {
  background-color: #b79a7c;
  color: #000000;
}

.Change_Text {
  text-align: center;
}

.ChangPassword_container img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .ChangPassword_container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .ChangPassword_container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
